[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = for emb development
[access "refs/*"]
	owner = group user/aravindlg
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aravindlg
	label-Verified = -1..+1 group user/aravindlg
	push = group user/aravindlg
	read = group user/aravindlg
	rebase = group user/aravindlg
	removeReviewer = group user/aravindlg
	submit = group user/aravindlg
[access "refs/heads/*"]
	create = group user/aravindlg
	push = +force group user/aravindlg
	pushMerge = group user/aravindlg
	read = group user/aravindlg
[access "refs/tags/*"]
	push = group user/aravindlg
	push = +force group user/aravindlg
